h1{
	color:black;
}
nav{
	height:100%;
	position: relative;
	margin-left:0px;
	margin-right:auto;
	width:auto;

}
::ng-deep ngb-accordion{
	height:3000px;
}
::ng-deep .card-header{
	background-color: #818181;
	color:white !important;
	border-color:white;
}
::ng-deep .btn-link{
	color:white;
}
::ng-deep .card{
	background-color: #3d3d3d;
	color:white;
	border-color:white;
}