<div class="mtp">
<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" style="height:100%">
  <ngb-panel title="Display Settings" style="background-color: red !important; color:green">
    <ng-template ngbPanelContent class="test" style="background-color: red !important; color:green">
      <button>Dark mode</button>
    </ng-template>
  </ngb-panel>
  <ngb-panel title ="Portfolio Settings" style="background-color: aqua;">
    <ng-template ngbPanelContent>
      <button>Add cryptocurrency to portfolio</button>
      <br><br>
      <button>Remove cryptocurrency to portfolio</button>
      <br><br>
      <button>Delete portfolio</button>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Account Settings" [disabled]="false">
    <ng-template ngbPanelContent style="background-color: aqua;">
      <button>Update account balance</button>
      <br><br>
      <button>Update trade strength</button>
      <br><br>
      <button>Change username</button>
      <br><br>
      <button>Change password</button>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Notification Settings" [disabled]="false">
    <ng-template ngbPanelContent style="background-color: aqua;">
      <button>Update notification settings</button>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
</div>