<!-- <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Fluid jumbotron</h1>
      <p class="lead">Yo yo yo! Welcome to Smart Signal. We help you trade bitcoin and we're poppin off and doing big tings. But besides all that, wheres the frickin uhhhhh gabagool?!
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>






















        :)
      </p>
    </div>
  </div> -->

  <div class="jumbotron">
    <h1 class="display-4">Smart signal</h1>
    <p class="lead">Trade like a beast.</p>
    <hr class="my-4">
    <p>Yo yo yo! Welcome to Smart Signal. We help you trade bitcoin and we're poppin off and doing big tings. But besides all that, wheres the frickin uhhhhh gabagool?!
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>






















      :)</p>
    <p class="lead">
      <a class="btn btn-success btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
