.header {
    color: white;
    margin-top: 3%;
    text-align: center;
}

.miniJumbotron{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
}

.grid-container-child {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5%;
}

::ng-deep .EmbeddedTweet{
    height:400px;
}
// .row{
//     height:50%;
// }