.jumbotron{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    margin-top:5%;
    background-color: #818181;
}

.miniJumbotron{
    width:40%;
    margin-left:auto;
    margin-right:auto;
    margin-top:5%;
    background-color: #818181;
}