body {
    background-color: #00D080;
    padding: 1% 1% 1% 1.5%;
}
.nav-style{
    background-color: #00D080;
    padding: 1% 1% 1% 1.5%;
}
a {
    font-size: 2em;
}

#navButtonContainer, a, #navButtonContainer > * {
    display: inline;
}

#navButtonContainer > * {
    margin-right: 1%;
    &:first-child {
        margin-left: 53%;
    }
}

#logOutButton {
    background-color: #00AB69;
    margin-left: 2%;
    &:hover {
        background-color: #00985E;
    }
}

button{
    margin-left:2px;
    margin-right:2px;
    margin-bottom:1px;
}
.ss{
    display: inline-block;
    white-space: nowrap;
}