<body id="outsideDiv">
    <a routerLink="/home">Smart Signal</a>
    <div id="navButtonContainer">
        <button routerLink="/assets" routerLinkActive="active">Assets</button> <!--Linking assets page here -->
        <button routerLink="/algorithms" routerLinkActive="active">Algorithms</button>
        <button routerLink="/account" routerLinkActive="active">Account</button>
        <button routerLink="/news" routerLinkActive="active">News</button>
        <button routerLink="/about" routerLinkActive="active">About</button>
        <button id="logOutButton" routerLink="/">Log Out</button>
    </div>
</body>