h1{
	color:black;
}
body{
	background-color: rgb(76, 76, 75  );
	height:100%;
}
.jumbotron{
	background-color: white;
	color:black;
}
.white-text{
	color:black;
}
.big-text{
	font-size: large;
}
.special{
	width:90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}

table{
	background-color: rgb(76, 76, 75 );
}
th,tr,td,thead,tbody{
	border-color: greenyellow;
	color:white;
}

::ng-deep ngb-panel{
	width:90%;
	margin-left:auto;
	margin-right:auto;
}
::ng-deep .card-header{
	background-color: #818181;
	color:white !important;
	border-color:white;
}
::ng-deep .btn-link{
	color:white;
}
::ng-deep .card{
	background-color: #818181;
	color:white;
	border-color:white;
	width:90% !important;
	margin-right:auto;
	margin-left:auto;
}
