
  <div class="jumbotron special">
    <h3>Balance: $0</h3>
    <hr class="my-4">

    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" style="height:100%">
      <ngb-panel title="Your Assets" >
        <ng-template ngbPanelContent >
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Coin</th>
              <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let asset of assets; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>
                <img [src]=" asset.flag" class="mr-2" style="width: 20px">
                {{ asset.name }}
              </td>
              <td>${{ asset.price | number }}</td>
            </tr>
            </tbody>
          </table>
        </ng-template>
      </ngb-panel>
      <ngb-panel title ="All Assets" style="background-color: aqua;">
        <ng-template ngbPanelTitle>
        </ng-template>
        <ng-template ngbPanelContent>
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Symbol</th>
              <th scope="col">Coin</th>
              <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let coin of coins; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ coin.symbol }}</td>
              <td>{{ coin.name }} </td>
              <td>${{ coin.price }}</td>
            </tr>
            </tbody>
          </table>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>

  

