<button (click)="indicator = 'adx'">REWRITE INDICATOR IN HTML (algorithms, line 1)</button>
<br><br> -->

<input
  id="typeahead-focus"
  type="text"
  class="form-control"
  placeholder="Select Algorithm:"
  [(ngModel)]="model"
  [ngbTypeahead]="search"
  (focus)="focus$.next($any($event).target.value)"
  (click)="click$.next($any($event).target.value)"
  #instance="ngbTypeahead"
/>

<!-- <button (click)="combos()">Combos</button> -->

<highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions"
    [(update)]="updateFlag"
    style="width: 100%; height: 400px; display: block;"
></highcharts-chart>

<div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-success" id="dropdownBasic1" ngbDropdownToggle>Time Frame</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="timeframe = 'month'" class="btn btn-success">Month</button>
          <button ngbDropdownItem (click)="timeframe = 'week'" class="btn btn-success">Week</button>
          <button ngbDropdownItem (click)="timeframe = 'day'" class="btn btn-success">Day</button>
          <button ngbDropdownItem (click)="timeframe = 'four_hour'" class="btn btn-success">Four Hour</button>
          <button ngbDropdownItem (click)="timeframe = 'hour'" class="btn btn-success">Hour</button>
          <button ngbDropdownItem (click)="timeframe = 'fifteen_minute'" class="btn btn-success">Fifteen Minute</button>
          <button ngbDropdownItem (click)="timeframe = 'minute'" class="btn btn-success">Minute</button>
        </div>
      </div>
      <button class="btn btn-success" (click)="testParams()">Send</button>
      <button class="btn btn-success" (click)="combos()">Combos</button>
      <button class="btn btn-success" (click)="get_data()">get data</button>
    </div>
</div>
