<div class="header">
    <h3>Run a selection of algorithms on Bitcoin prices</h3>
</div>
<div class="jumbotron">
    <br>
    <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="chartOptions"
        [(update)]="updateFlag"
        style="width: 100%; height: 400px; display: block;"
    ></highcharts-chart>

    <div class="row">
        <div class="col">
            Test Balance: <input placeholder="100,000" #bal (keyup)="balance = bal.value">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-success" id="dropdownBasic1" ngbDropdownToggle>{{ algorithmDropDownText }}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button *ngFor="let algorithm of algorithmDisplayData" ngbDropdownItem (click)="setAlgorithm(algorithm)" class="btn btn-success">{{ algorithm.name }} ({{ algorithm.indicator | uppercase }})</button>
                </div>
            </div>
            <div ngbDropdown class="d-inline-block">
                <button [hidden]="!algSelectedFromDropDown" class="btn btn-success" id="dropdownBasic1" ngbDropdownToggle>Select Candle Size</button>
                <div [hidden]="!algSelectedFromDropDown" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button *ngFor="let timeframe of timeframeOptions" ngbDropdownItem (click)="appendAlgorithm(timeframe)" class="btn btn-success">{{ timeframe.name }}</button>
                </div>
            </div>
        </div>
    </div>
    <div [hidden]="!algSelected">
        <br>
        <div>
            <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Algorithm</th>
                    <th scope="col">Candle Size</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let algorithm of tableData">
                    <td>{{ algorithm.name }}</td>
                    <td>{{ algorithm.displayTimeframe }}</td>
                    <td><button (click)="runIndividualAlgorithm(algorithm)">Run</button></td>
                    <td><button (click)="removeAlgFromTable(algorithm)">Remove</button></td>
                </tr>
            </tbody>
            </table>
        </div>

        <button class="btn btn-success" (click)="findMaxProfit(7)">Find Max Profit</button>
        <button class="btn btn-success" (click)="algoritmHandler(payload, 'algorithm')">Run All Algorithms</button>
        <button class="btn btn-success" (click)="algoritmHandler(payload, 'combination')">Run Combinations of Algorithms</button>
    </div>
    <div [hidden]="!combinationSent">
        <br>
        <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Combination</th>
                <th scope="col">Return On Investment</th>
                <th scope="col">Balance</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let combination of combinationResults">
                <td>{{ combination.name }}</td>
                <td>{{ combination.roi }}</td>
                <td>{{ combination.balance }}</td>
            </tr>
        </tbody>
        </table>
        <p>Only combinations with ROIs over 10% are returned</p>
    </div>
</div>
