/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
body {
    margin: 0;
    // height:100%;
    height:auto;
    background-color: #4C4C4B;

}

button {
    background-color: #00D080;
    border-radius: 4px;
    border: none;
    
}

.header {
    color: white;
    margin-top: 3%;
    text-align: center;
}

button:focus {
    outline:0;
}

a:hover{
    text-decoration: none;
}

.jumbotron{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    background-color: white;
}

// button {
//     border: none;
//     border-radius: 6px;
//     padding: .7% 1%;
//     font-size: 100%;
//     background-color: #2EE8A0;
//     &:hover {
//         background-color: #54ECB1;
//         cursor: pointer;
//     }
// }

body > * {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

// a, button {
//     color: white;
//     font-family: 'Lato', sans-serif;
// }