/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
body {
    margin: 0;
    // height:100%;
    height:auto;
    background-color: rgb(76, 76, 75 );

}

button:focus {
    outline:0;
}

a:hover{
    text-decoration: none;
}

// button {
//     border: none;
//     border-radius: 6px;
//     padding: .7% 1%;
//     font-size: 100%;
//     background-color: #2EE8A0;
//     &:hover {
//         background-color: #54ECB1;
//         cursor: pointer;
//     }
// }

body > * {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

// a, button {
//     color: white;
//     font-family: 'Lato', sans-serif;
// }